.cyclesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.cyclesDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
  width: 2rem;
  height: 2rem;
  background: var(--primary);
  border-radius: 50%;
}

.workCycle {
  background: var(--warning);
}

.breakShortCycle {
  background: var(--primary);
}

.breakLongCycle {
  background: var(--info);
}
