.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.footerContainer > a {
  font-size: 1.4rem;
  color: var(--text-muted);
  text-decoration: none;
}

.footerContainer > a:hover {
  text-decoration: underline;
}
